body {
  padding: 0;
  margin: 0;
  background-color: #EDEDED;
}

#map {
  height: 785px;
  width: 690px;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
}

.navbar {
  max-height: 57px;
  background-color: white;
  font-size: 15px;
}

.navigation .navbar-brand {
  color: white;
  margin-left: 30px;
  padding: inherit;
  /* font-weight: bold; */
  background-color: #0BADA6;
  font-family: 'Verdana', sans-serif;
}

.active .dropdown-menu .dropdown-item:active a:hover {
  background-color: #E7E7E7!important;
}

.dropdown-item {
  color: #6D8092!important;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #E7E7E7!important;
}

a {
  color: #f5f8fa;
  font-size: 15px;
}

.nav-link:hover {
  background-color: #E7E7E7!important;
}

.navbar-brand:hover {
  color: rgb(175, 175, 175)!important;
}

.title {
  color: #0BADA6;
  font-family: 'Verdana', sans-serif;
  /* font-weight: bold; */
  padding-top: 20px;
}

p {
  color: #6D8092;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

h5 {
  text-align: center;
}

.box {
  margin-top: 60px;
  margin-bottom: 62px;
  padding: 10px 20px 15px;
  color: black;
  background-color: white;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #0BADA6;
}

#footer {
  color: rgb(250, 246, 246);
}